<h2>商品一覧</h2>
    <% @products.each do |product| %>
        <%= link_to product_path(product.id) do %>
            <%= attachment_image_tag product, :image, :fill, 150, 250, format: 'png', fallback: "no_image.png" %>
        <% end %>
        <%= link_to product.name, product_path(product) %>
        <h3 class="product-price"><%= product.excluding_tax_price %></h3>
    <% end %>
    
<%= link_to '商品を検索する', products_path %>
<%= paginate @products %>