<h2>商品一覧</h2>
    <% @products.each do |product| %>
        <%= attachment_image_tag product, :image, :fill, 150, 250, format: 'png', fallback: "cake.jpg" %></td>
        <h3 class="product-name"><%= product.name %></h3>
        <h3 class="product-price"><%= product.excluding_tax_price %></h3>
    <% end %>
    
<%= link_to '商品を検索する', products_path %>
<%= paginate @products %>