<div class="container">
  <div class="row">
    <div class="col-md-12">
            <%= flash[:alert] %>
            <div class="admin-products-show1">
               <%= attachment_image_tag @product, :image,  size: "300x200", fallback: "cake.jpg" %>
               <table class = "admin-products-show" >
                  <tr>
                     <td><h3 class="product-name"><%= @product.name %></h3></td>
                     <td><h3 class="product-body"><%= @product.body %></h3></td>
                     <td><h3 class="product-price">¥<%= @product.excluding_tax_price %>(税込み)</h3></td>
                  </tr>
               </table>
               <div>
                  <%= form_with model:@cart_product, url: cart_products_path, method: :post, local:true do |f| %>
                     <% if @update_cart_product.present? %>
                        <p>カートに入れています</p>
                     <% else %>
                        <%= f.hidden_field :product_id, value: @product.id %>
                        <%= f.select :amount, [ '1', '2', '3', '4', '5', '6', '7', '8', '9'], class: 'amount' %>
                        <!--　↑個数を入れるセレクトBOX追加-->
                        <%= f.submit "カートに入れる",class: "btn btn-success btn-lg" %>
                     <% end %>
                  <% end %>
               </div>
            </div>
    </div>
  </div>
</div>