<div id="carousel-example" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000" style="position: relative;">
	<div class="carousel-inner"  style="position: relative;">
		<div class="carousel-item active"  style="position: relative;">
			<div class="image1"  style="position: relative;"></div>
		</div>
		<div class="carousel-item"  style="position: relative;">
			<div class="image2"></div>
		</div>
		<div class="carousel-item"  style="position: relative;">
			<div class="image3"></div>
		</div>
		<P>ようこそ、ながのCAKEへ！<br>
		このサイトは、ケーキ販売のECサイトになります。<br>
		会員でない方も商品の閲覧はできますが、<br>
		購入には会員登録が必要になります。</P>
	</div>
</div>

<h1>新着商品</h1>
    <% @products.first(4).each do |product| %>
        <%= link_to product_path(product.id) do %>
            <%= attachment_image_tag product, :image, :fill, 150, 250, format: 'png', fallback: "no_image.png" %>
        <% end %>
        <h3 class="product-name"><%= product.name %></h3>
        <h3 class="product-price"><%= product.excluding_tax_price %></h3>
    <% end %>

<%= link_to '全ての商品を見る>', products_path %>

