
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="marker">商品編集</h2>
      <% if @product.errors.any? %>
      <h6><%= @product.errors.count %>件のエラーが発生しました</h6>
        <ul>
          <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      
          <%= form_with model:@product, url: admin_product_path, local:true, method: :patch do |f| %>
            <table class="admin-products-edit" style= "width: 900px;margin: 0 auto;">
              <tr>
                <td><h5>商品画像</h5></td>
                <td><%= f.attachment_field :image,class: 'image' %></td>
              </tr>

              <tr>
                <td><h5>商品名</h5></td>
                <td><%= f.text_field :name, autofocus: true, size: "40" , id:"name", placeholder:"商品名"%></td>
              </tr>

              <tr>
                <td><h5>商品説明</h5></td>
                <td><%= f.text_area :body, autofocus: true, size: "40x5" , id:"body", placeholder:"商品説明"%></td>
              </tr>

              <tr>
                <td><h5>ジャンル</h5></td>
                <td><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい" %></td>
              </tr>


              <tr>
                <td><h5>税抜価格</h5></td>
                <td><%= f.text_field :excluding_tax_price, autofocus: true, size: "40" , id:"body", placeholder:"1000"%></td>
              </tr>

              <tr>
                <td><h5>販売ステータス</h5></td>
                <td><label><%= f.radio_button :sale_status, true %><%= f.label :sale_status, "販売中", {value: :true, style: "display: inline-block;"} %></label>
                    <label><%= f.radio_button :sale_status, false %><%= f.label :sale_status, "販売停止中", {value: :false, style: "display: inline-block;"} %></label></td>
              </tr>


            </table>
              <div class="admin-products-edit1">
                <%= f.submit "変更を保存" , class: "btn btn-success btn-lg" %>
              </div>
          <% end %>
    </div>
  </div>
</div>