<div class='row'>
<div class="offset-md-1 col-md-8">
        <!--font Awesomeで＋ボタンを新規追加-->
        <table class="table">
            <thead>
                <tr>
                    <th><h2>商品一覧</h2></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th><%= link_to "新規登録", new_admin_product_path(@product), class: "far fa-plus-circle" %></th>
                </tr>
                <tr>
                    <th style = "width: 20%;">商品ID</th>
                    <th style = "width: 25%;">商品名</th>
                    <th style = "width: 15%;">税抜価格</th>
                    <th style = "width: 20%;">ジャンル</th>
                    <th style = "width: 20%;">ステータス</th>
                </tr>
            </thead>

            <tbody>
                <% @products.each do |product| %>
                    <tr>
                        <td><h5 class="product-id"><%= product.id %></h5></td>
                        <td><h5 class="product-name"><%= link_to product.name, admin_product_path(product.id) %></h5></td>
                        <td><h5 class="product-price"><%= product.excluding_tax_price %></h5></td>
                        <td><h5 class="product-genre"><%= product.genre.name %></h5></td>
                        <td><h5 class="product-status"><%= product.sale_status %></h5></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
<%= paginate @products %>
