<div class="container">
  <div class="row">
    <div class="col-md-12">
        <h2 class="marker">商品一覧</h2>
            <a href="/admin/products/new" class="products1"><span class="fas fa-plus-circle fa-2x nav-link fa-pull-right" aria-hidden="true"></span></a>
        <table class="table" style= "width: 900px;margin: 0 auto;">
            <thead>
                <tr  bgcolor="lightgray">
                    <th style = "width: 10%;">商品ID</th>
                    <th style = "width: 35%;">商品名</th>
                    <th style = "width: 20%;">税抜価格（円）</th>
                    <th style = "width: 20%;">ジャンル</th>
                    <th style = "width: 15%;">ステータス</th>
                </tr>
            </thead>

            <tbody>
                <% @products.each do |product| %>
                    <tr>
                        <td><h5 class="product-id"><%= product.id %></h5></td>
                        <td><h5 class="product-name"><%= link_to product.name, admin_product_path(product.id) %></h5></td>
                        <td><h5 class="product-price"><%= product.excluding_tax_price %></h5></td>
                        <td><h5 class="product-genre"><%= product.genre.name %></h5></td>
                        <td>
                            <% if product.sale_status == false %>
                                <p><i class="text-secondary"></i>販売停止中</p>
                            <% else %>
                                <p><i class="text-success"></i>販売中</p>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <%= paginate @products %>

    </div>
  </div>
</div>