<% if @product.errors.any? %>
  <h6><%= @product.errors.count %>件のエラーが発生しました</h6>
  <ul>
  <% @product.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
  </ul>
<% end %>

<h2>商品新規登録</h2>
  <%= form_with model:@product, url: admin_products_path, local:true, method: :post do |f| %>
    <div class="form-group">
      <h5>商品画像</h5>
      <%= f.attachment_field :image, class: 'image' %>
    </div>

    <div class="form-group">
      <h5>商品名</h5>
      <%= f.text_field :name, autofocus: true, id:"name", placeholder:"商品名"%>
      </div>

    <div class="form-group">
      <h5>商品説明</h5>
      <%= f.text_area :body, autofocus: true, id:"body", placeholder:"商品説明"%>
    </div>

    <div class="form-group">
      <h5>ジャンル</h5>
      <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい" %>
    </div>

    <div class="form-group">
      <h5>税抜価格</h5>
      <%= f.text_field :excluding_tax_price, autofocus: true, id:"body", placeholder:"1000"%>
    </div>

    <div class="form-group">
      <h5>販売ステータス</h5>
      <label><%= f.radio_button :sale_status, true %><%= f.label :sale_status, "販売中", {value: :true, style: "display: inline-block;"} %></label>
      <label><%= f.radio_button :sale_status, false %><%= f.label :sale_status, "販売停止中", {value: :false, style: "display: inline-block;"} %></label>
    </div>

    <div class="form-group">
      <%= f.submit "新規登録" %>
    </div>
  <% end %>
