<%= attachment_image_tag @product, :image, :fill, 200, 300, format: 'png', fallback: "no_image.png" %></td>
  <table class = "table">
    <tr>
      <th>商品名</th>
      <th><h3 class="product-name"><%= product.name %></h3></th>
    </tr>
    <tr>
      <th>商品説明</th>
      <th><h3 class="product-body"><%= product.body %></h3></th>
    </tr>
    <tr>
      <th>ジャンル</th>
      <th><h3 class="product-genre"><%= product.genre %></h3></th>
    </tr>
    <tr>
      <th>税込価格（税抜き価格）</th>
      <th><h3 class="product-price"><%= product.excluding_tax_price %></h3></th>
    </tr>
    <tr>
      <th>販売ステータス</th>
      <th><h3 class="product-status"><%= product.status %></h3></th>
    </tr>
  </table>

<%= link_to "編集する", cart_products_path(@product), class:"show_#{@product}", class: "btn btn-success" %>
<!--カート内容は、オートモさんに依頼、こっちは今は何もしない-->