<div class='row'>
<div class="offset-md-1 col-md-8">
        <h2>注文履歴一覧</h2>
        <table class="table">
            <thead>
                <tr>
                    <th style = "width: 10%;">購入日時</th>
                    <th style = "width: 25%;">購入者</th>
                    <th style = "width: 15%;">注文個数</th>
                    <th style = "width: 30%;">注文ステータス</th>
                    <th style = "width: 20%;"></th>
                </tr>
            </thead>

            <tbody>
                <% @orders.each do |order| %>
                    <tr>
                        <td><h2 class="order-datetime"><%= product.datetime %></h2></td>
                        <td><h2 class="order-name"><%= order.name %></h2></td>
                        <td><h2 class="order-amount"><%= product.amount %></h2></td>
                        <td><h2 class="order-status"><%= order.status %></h2></td>
                        <td></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
<%= paginate @orders %>
