
 <footer class="footer">
   <div class="container-fluid">
    <div class="row">
     <ul class="col-md-2">
       <span class="span">Menu</span>

       <% if admin_signed_in? %>
          <li><%= link_to 'Home', "/",class: 'text-light' %></li>
          <li><%= link_to ' products',admin_products_path,class: 'text-light' %></li>
          <li><%= link_to ' customers',admin_customers_path,class: 'text-light' %></li>
          <li><%= link_to ' orders',admin_orders_path,class: 'text-light' %></li>
          <li><%= link_to ' genres',admin_genres_path,class: 'text-light' %></li>
       <% elsif customer_signed_in? %>
        <div class="menu">
         <li><%= link_to 'Home', "/",class: ' text-light' %></li>
         <li><%= link_to 'About',homes_about_path, class: 'text-light' %></li>
         <li><%= link_to 'Mypage',customer_path, class: 'text-light' %></li>
         <li><%= link_to 'Orders',orders_path, class: 'text-light' %></li>
        </div>
       <% else %>
        <div class="menu">
          <li><%= link_to 'Home', "/" , class: 'text-light' %></li>
          <li><%= link_to 'Signup', new_customer_registration_path ,class: ' text-light' %></li>
          <li><%= link_to 'Login', new_customer_session_path , class: 'text-light' %></li>
          <li><%= link_to 'Products',products_path, class: 'text-light' %></li>
        </div>
       <% end %>

     </ul>
     <ul class="col-md-2"></ul>
     <div class="col-md-5"></div>
    <div class="col-md-3">
     <address>
      <dl>
       <dt class="dt">ながのケーキ</dt>
       <dd>〒123-4567 長野県長野市12-3</dd>
       <dd>Tel 01-2345-6789 Fax 01-2345-6789</dd>
       <dd>長野駅より徒歩10分</dd>
       <dd>月～金　AM 9:00 ～ PM 9:00 </dd>
       <div class="icon">
        <i class="fab fa-line"></i>
        <i class="fab fa-instagram-square"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-facebook-square"></i>
       </icon>
      </dl>
     </address>
    </div>
    </div>
   </div>
   <div class="copyright">
    Copyright &copy; Naganocake
   </div>
  </footer>
